* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    margin: auto;
}

.header-bar {
    padding: 0.7em 5em;
    height: 3em;
    background-color: #343a40;
    align-items: center;
}

.brand {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.overview-container {
    margin-top: 2em;
    padding: 0 5em;
    display: flex;
    justify-content: space-around;

}

.overview-card {
    padding-left: 1em;
    background-color: whitesmoke;
    height: 10em;
    width: 15em;
    line-height: 2em;
    border-radius: 0.5em;
    position: relative;
}

.laptop-section {
    height: 12em;
    margin: 3em 5em;
    padding: 1em;
    display: none;
    background-color: whitesmoke;
    border-radius: 0.5em;
    align-items: center;
    justify-content: space-around;
}

.laptop-description {
    min-width: 33%;
    padding: 10px;
    line-height: 1.2em;
    text-align: left;
}

.laptop-description h1 {
    line-height: 1.5em;
}

.buy-container {
    line-height: 3em;
    align-items: center;
    display: flex;
    flex-direction: column;
}

button {
    height: 2em;
    min-width: 40%;
    width: auto;
    font-size: 1em;
    border-radius: 0.5em;
    border-style: none;
}

button:hover {
    cursor: pointer;
    opacity: 70%;
}

.get-loan-btn {
    height: 2em;
    width: 90%;
    background-color: lightgreen;
    position: absolute;
    bottom: 10px;
}

.buy-now-btn {
    width: 10em;
    background-color: deepskyblue;
}

.bank-btn {
    background-color: yellow;
    position: absolute;
    bottom: 10px;
    left: 15px;
}

.work-btn {
    background-color: blue;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 15px;
}

.repay-loan-btn {
    background-color: maroon;
    width: 90%;
    position: absolute;
    bottom: 50px;
    display: none;
}

#feature-list {
    list-style-type: none;
    line-height: 1.2em;
}

#outstanding-loan {
    display: none;
}